<h1>Editing blog</h1>

<%= render "form", blog: @blog %>

<br>
<hr>

<%= form_with model:[@blog,@post] do |form| %>

  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.hidden_field :blog_id, value: @blog.id %>

  <%= form.submit "create post" %>
<% end %>

<div>
  <%= link_to "Show this blog", @blog, class:'btn btn-primary' %> |
  <%= link_to "Back to blogs", blogs_path, class:'btn btn-primary' %>
</div>
