<p style="color: green"><%= notice %></p>

<%= render @blog %>

<% @blog.posts.each do |post| %>
  <%= link_to post do %>
    <%= render post %>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this blog", edit_blog_path(@blog), class:'btn btn-primary' %> |
  <%= link_to "Back to blogs", blogs_path, class:'btn btn-secondary' %>

  <%= button_to "Destroy this blog", @blog, method: :delete, class:'btn btn-danger', data: { turbo_confirm: "are you sure?"} %>
</div>
