<p style="color: green"><%= notice %></p>

<h1>Homes</h1>

<div id="homes" class="container-sm">
  <div class="row flex-row">
  <% @homes.each do |home| %>

      <div class="col-3">
      <%= render "preview", home: home %>
      <%= link_to "edit", edit_home_path(home), class:"btn btn-primary" %>
      <% if !home.active? %>
        <%= link_to "set active", make_active_url(home) %>
      <% end %>
      </div>
  <% end %>
  </div>
</div>

<%= link_to "New home", new_home_path %>
