<!DOCTYPE html>
<html>
  <head>
    <title>BlogAppDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="narrow-all" style="--site-width: <%= Home.site_width %>px;">
    <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <%= link_to "about", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="c-top navbar-nav ml-md-auto mb-2 mb-lg-0">
    
        <li class="nav-item" data-controller="dropdown">
            <a class="nav-link fl-button dropdown-toggle" data-action='click->dropdown#ddClicked' data-dropdown-target="flButton" role="button" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            
            <% if Blog.all.count > 0 %>
                <div class='fl-menu' style='display:none;'  data-dropdown-target="flMenu" aria-labelledby="navbarDropdown">
                    <%  Blog.all.each do |blog| %>
                        <%= link_to  blog.title, blog_path(blog), class:'dropdown-item' %>
                    <% end %>
                </div>
            <% else %>
             no blogs yet
            <% end %>

        </li>
          
        <li class="nav-item">
          <%= link_to "posts", posts_path, class:"nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "homes", homes_path, class:"nav-link active"%>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="<%= controller_name%> <%= action_name %>">
    <%= yield %>
  </div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="p-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <%= sanitize Home.fa_icon %>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">

        © <%= Home.time_stamp %> <%= Home.brand %> </span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>
  </body>
</html>
